{
  "presets": ["next/babel", "@emotion/babel-preset-css-prop", "@babel/preset-flow"],
  "env": {
    "production": {
      "plugins": ["emotion", "@babel/plugin-proposal-optional-chaining"]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true }], "@babel/plugin-proposal-optional-chaining"]
    }
  }
}
